# Introducción a Programación con Python


<img src="https://programacion.net/files/article/20170717020730_python-logo.png" alt="Drawing" style="width: 500px;"/>


En este breve curso vamos a ver como usar python y todo los básicos de programación.

__Crognograma__

* Numeros
* Strings
* Printing
* Listas
* Diccionarios
* Booleans
* Tuples  
* Sets
* Operadores de Comparación
* if, elif, else 
* for Loops
* while Loops
* range()
* Comprensión de listas
* funciones
* lambda expressions
* map y filter
* métodos
***

## Números

In [2]:
1+1

2

In [3]:
2*5

10

In [7]:
10/3

3.3333333333333335

In [6]:
10//3

3

In [8]:
2**4

16

In [9]:
4%2

0

In [10]:
(2 + 3) * (5 + 5)

50

## Asignamiento de Variables

In [15]:
# No puede iniciar con numeros ni caracteres especiales

matias= 2

rodri = 2*4

z = matias + rodri

In [17]:
z

10

## Strings

In [18]:
"Hoy es un día muy lindo"

'Hoy es un día muy lindo'

In [19]:
'Hoy esta lloviendo'

'Hoy esta lloviendo'

## Printing

In [21]:
x = "Soy Feliz"
x

'Soy Feliz'

In [22]:
print(x)

Soy Feliz

In [23]:
num = 12
nombre = 'Fran'

In [24]:
print('Mi numero es: {}, y mi nombre es: {}'.format(num,nombre))

Mi numero es: 12, y mi nombre es: Fran

## Listas

In [25]:
[1,2,3]

[1, 2, 3]

In [26]:
['hola',1,[1,2]]

['hola', 1, [1, 2]]

In [31]:
x = ['a','b','c']

In [32]:
x.append('d')

In [33]:
x

['a', 'b', 'c', 'd']

In [34]:
x[1]

'b'

In [35]:
x[1:]

['b', 'c', 'd']

In [36]:
x[:1]

['a']

In [37]:
x[0:4]

['a', 'b', 'c', 'd']

In [38]:
x[0] = "Hola"

In [39]:
x

['Hola', 'b', 'c', 'd']

In [40]:
nest = [1,2,3,[4,5,['target']]]

In [41]:
nest[3]

[4, 5, ['target']]

In [42]:
nest[3][2]

['target']

## Diccionarios

In [43]:
d = {'key1':'item1','key2':'item2'}

In [44]:
d

{'key1': 'item1', 'key2': 'item2'}

In [45]:
d = {"hola"  : 2}

In [46]:
d["hola"]

2

## Booleans

In [47]:
True

True

In [48]:
False

False

## Tuples

In [49]:
t = (1,2,3)

In [50]:
t[0]

1

In [51]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

## Sets

In [1]:
{1,2,3}

{1, 2, 3}

In [2]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Operadores de Comparación

In [3]:
1 > 2

False

In [4]:
1 < 2

True

In [5]:
1 >= 1

True

In [6]:
1 <= 4

True

In [7]:
1 == 1

True

In [8]:
'hi' == 'bye'

False

## Operadores Lógicos

In [10]:
(1 > 2) and (2 < 3)

False

In [11]:
(1 > 2) or (2 < 3)

True

In [12]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else

In [14]:
if 1 < 2:
    print('Yep!')

Yep!

In [15]:
if 1 < 2:
    print('yep!')

yep!

In [16]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [17]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [19]:
seq = [1,2,3,4,5]

In [20]:
for item in seq:
    print(item)

1
2
3
4
5

In [21]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [22]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [25]:
i = 1
while i < 5:
    print('i es: {}'.format(i))
    i = i+1

i es: 1
i es: 2
i es: 3
i es: 4

## range()

In [27]:
range(5)

range(0, 5)

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [29]:
list(range(5))

[0, 1, 2, 3, 4]

## Comprensión de Listas

In [31]:
x = [1,2,3,4]

In [32]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

**función** for **variable** in **lista**

In [33]:
[item**2 for item in x]

[1, 4, 9, 16]

## funciones

In [34]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [35]:
my_func()

default

In [36]:
my_func('new param')

new param

In [37]:
my_func(param1='new param')

new param

In [45]:
def cuadrado(x):
    return x**2

In [46]:
cuadrado(2)

4

In [41]:
lambda x: x**2

## map and filter

In [47]:
seq = [1,2,3,4,5]

In [48]:
# map(función, lista)
map(cuadrado,seq)

In [49]:
list(map(cuadrado,seq))

[1, 4, 9, 16, 25]

In [52]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [53]:
#filter(condición, lista)
filter(lambda item: item%2 == 0,seq)

In [54]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Métodos

In [55]:
st = "Hola me llamo matías"

In [56]:
st.lower()

'hola me llamo matías'

In [57]:
st.upper()

'HOLA ME LLAMO MATÍAS'

In [58]:
st.split()

['Hola', 'me', 'llamo', 'matías']

In [59]:
tweet = 'Vamos River #Pasión'

In [60]:
tweet.split("#")

['Vamos River ', 'Pasión']

In [61]:
tweet.split("#")[0]

'Vamos River '

In [62]:
'x' in [1,2,3]

False

In [63]:
'x' in ['x','y','z']

True

# Bien ahí, Terminamos la Introducción a Python!